<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>

    <!--==================rabbitmq start==================== -->
    <!--ip-->
    <add key="rabbitserver" value="192.168.30.204"/>
    <!--端口号-->
    <add key="rabbitport" value="5672"/>
    <!--用户名-->
    <add key="rabbitusername" value="chenguo"/>
    <!--密码-->
    <add key="rabbituserpwd" value="chenguo"/>
    <!--队列名称-->
    <add key="rabbitqueuename" value="queue"/>
    <!--路由名称-->
    <add key="rabbitexchange" value="dth-routing"/>
    <!--路由匹配模式 fanout direct topic-->
    <add key="rabbitexchangeType" value="direct"/>
    <!--路由表达式-->
    <add key="rabbitroutingKey" value="dth-rk"/>
    <!--是否持久化-->
    <add key="rabbitpersistMode" value="true"/>
    <!--虚拟路由-->
    <add key="rabbitvirtualHost" value="/dthmq"/>
    <!--消息队列默认标志-->
    <add key="messagecmdid" value="dth"/>
    <add key="rabbitthreadcount" value="1"/>
    <!--==================rabbitmq end==================== -->

    
  </appSettings>
</configuration>
