<connectionStrings>
  <!--测试库连接串-->
<add name="ProductDbConnString" connectionString="server=TESTDB-HOUTAI;uid=vanclsysuser;pwd=sysuser@vancl;database=scm;Min Pool Size=10;" providerName="System.data.SqlClient"/>
<add name="ProductDbReadOnlyConnString" connectionString="server=TESTDB-HOUTAI;uid=vanclsysuser;pwd=sysuser@vancl;database=scm;Min Pool Size=10;" providerName="System.data.SqlClient"/>
<add name="OtherDbReadOnlyConnString" connectionString="server=TESTDB-HOUTAI;uid=vanclsysuser;pwd=sysuser@vancl;database=scm;Min Pool Size=10;" providerName="System.data.SqlClient"/>
<add name="ProdRead" connectionString="server=TESTDB-HOUTAI;uid=vanclsysuser;pwd=sysuser@vancl;database=scm;Min Pool Size=10;" providerName="System.data.SqlClient"/>
</connectionStrings>
